@media only screen and (max-width : 1200px) {
	.vivi {
		width: 259px;
		height: 176px;
	}
}

@media only screen and (max-width : 992px) {
	.c {
		width: 109px;
		font-size: 10px;
	}
	.cc {
		width: 109px;
		font-size: 12px;
	}
	.c1 {
		width: 53px;	
	}
	.c10 {
		width: 53px;
	}
	.wor {
		padding-left: 15px;
		margin-right: 0;
		margin-left: 0;
	}
	.centerr {
		text-align: center;
	}
	.vivi {
	    width: 397px;
	    height: 281px;
	}
	.ppo {
	    width: 397px;
	    margin: 0 auto;
	}
	.centerrr {
	    width: 397px;
	    margin: 0 auto;
	}
	.sda_btn {
		position: relative;
		margin-right: 0;
		margin: 0 auto;
	}
	.groups {
		margin: 0 auto;
	}
	.g_blue {
		margin-bottom: 60px;
	}
	.logo {
		margin-top: -20px;
		text-align: center;
	}
	.container {
		max-width: 98%;
	}
	.menu_1 img {
    margin-right: 5px;
	}
	.ticket {
		margin-left: -40px;
	}
	.vid_block img {
		width: 240px;
		height: auto;
	}
	.vid_vn {
		width: 240px;
	}
	.vid_block {
		width: 240px;
		height: 259px;
	}
	#akci img {
		width: 351px;
		height: 248px;
	}
}


@media only screen and (max-width: 880px) {
	.vivi {
	    width: 397px;
	    height: 281px;
	}
	.ppo {
	    width: 397px;
	}
	.centerrr {
	    width: 397px;
	    margin: 0 auto;
	}
	.vivi {
		width: auto;
		height: auto;
	}
	.pp2 {
		width: 50%;
		magin: 0 auto;
	}
	.forlef {
		width: 295px;
		height: 50px;
	}
	.torigh {
		width: 290px;
		height: 200px;
	}
	.for1_btn {
		margin-left: 140px;
	}
	.obr {
		font-size: 13px;
	}
}


@media only screen and (min-width : 768px) {
	.no {
		display: none;
	}
}
	

@media only screen and (max-width : 768px) {
	.overfj1 {
		padding-top: 2100px;
		height: 3298px;
	}
	.overfj3 {
		padding-top: 2100px;
		height: 3298px;
	}
	.overfj2 {
		padding-top: 2100px;
		height: 3298px;
	}
	.owl-stage {
		width: 2400px !important;
	}
	.owl-item {
		margin-right: 100px;
	}
	.img {
		display: none;
	}
	.cr, .ch, .ca, .cy, .c0, .co {
		display: none;
	}
	.c {
		width: 232px;
		font-size: 12px;
	}
	.cc {
		width: 232px;
		font-size: 14px;
	}
	.ctime {
		width: 87px;
	}
	.c1 {
		width: 87px;	
	}
	.c10 {
		width: 87px;
	}
	.hhh1 {
	    margin-top: 20px;
	}
	.kon p {
		font-size: 14px;
	}
	.centerr {
		text-align: center;
	}
	.ot71 {
		margin-bottom: 70px;
	}
	#akci img {
		width: auto;
		height: auto;
	}
	.sp {
		margin-bottom: 40px;
	}
	.pp {
		width: 454px;
		margin: 0 auto;
	}
	.ppo {
	    width: 347px;
	}
	.none {
		display: none;
	}
	.vid_block img {
		width: 430px;
		height: auto;
	}
	.vid_vn {
		width: 430px;
	}
	.vid_block {
		margin-left: auto;
    	margin-right: auto;
		width: 430px;
		height: 259px;
		margin-bottom: 120px;
	}
	.fo2, .fo3 {
		display: none;
	}
	.fo1 {
		width: 380px;
	}
	.fotoga_text {
		margin-bottom: 40px;
	}
}


@media only screen and (max-width : 576px) {
	.groups {
	    width: 240px;
	}
	.men {
		font-size: 10px;
	    height: 50px;
	    width: 160px;
	}
	.mini-men {
		font-size: 10px;
	    height: 50px;
	    width: 160px;
	}
	.men_cat p {
	    text-decoration: underline;
	    margin-left: 20px;
	    margin-right: 20px;
	}
	.men_cat {
	    font-size: 10px;
	}
	.cen {
		margin-left: 40px;
	}
	.kon p {
		font-size: 13px;
	}
	.vid_block img {
		width: 380px;
	}
	.vid_vn {
		width: 380px;
	}
	.vid_block {
		width: 380px;
		height: 259px;
		margin-bottom: 120px;
	}
	.fo1 {
		width: 380px;
	}
	.fotoga_text {
		margin-bottom: 40px;
	}
}


@media only screen and (max-width : 480px) {
	.kon p {
		font-size: 12.5px;
	}
	.pp {
		width: 321px;
	}
	#akci img {
		width: 321px;
		height: 228px;
	}
	.vid_block img {
		width: 340px;
	}
	.vid_vn {
		width: 340px;
	}
	.vid_block {
		width: 340px;
		height: 259px;
		margin-bottom: 120px;
	}
	.fo1 {
		width: 340px;
	}
	.fotoga_text {
		margin-bottom: 40px;
	}
}



@media only screen and (max-width : 380px) {
	.owl-item {
		margin-right: 200px;
	}
	.cit {
	    font-size: 14px;
	}
	.place_tex {
		padding-left: 10px;
	}
}
