header {
	padding-top: 20px;
}

* {
	font-family: 'Open Sans', sans-serif;
	-moz-box-sizing: border-box; /* Для Firefox */  
	box-sizing: border-box; /* Ширина блока с полями */
}

section h6 {
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 30px;
	font-weight: 400;
}

h5 {
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 24px;
	font-weight: 600;
}

h6 {
	margin-top: 25px;
	margin-bottom: 25px;
	font-size: 18px;
	font-weight: 600;
}

h4 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 60px;
}

p {
	line-height: 24px;
	font-weight: 400;
	font-size: 14px;
}

.center {
	text-align: center;
}

.d-flex {
	display: inline-flex;
}

.container {
	width: 942px;
	margin: 0 auto;
}

.heder_height {
	height: 45px;
}

.header_logo {
	width: 293px;
}

.place_icon {
	width: 22px;
	color: #dcdcdc;
}

.coordinate_sity {
	width: 199px;
	margin-bottom: 11px;
	border-bottom: 1px solid #8f8f8f;
}

.place_coordinate p {
	font-size: 12px;
}

.header_btn {
	margin-left: 64px;
	margin-right: 62px;
	width: 148px;
	height: 51px;
	background: #ff0000;
	text-align: center;
	color: #FFF;
	font-size: 14px;
	font-weight: 600;
	border-radius: 26px;
}

.phone_number {
	width: 151px;
	font-size: 17px;
	font-weight: 600;
	margin-bottom: 12px;
}

.fa-phone {
	margin-right: 12px;
	font-size: 14px;
	color: #d2d2d2;
}

.phone_btn {
	padding-top: 15px;
	width: 152px;
	height: 36px;
	background: #f3f3f3;
	text-align: center;
	font-size: 12px;
	font-weight: 400;
	border-radius: 26px;
}

.menu_icons a {
	margin-top: 7px;
	font-size: 14px;
	font-weight: 600;
	margin-left: 8px;
	transition: 0.7s;
}

.menu_icons a:hover {
	text-decoration: underline;
	color: #214b87;
	cursor: pointer;
}

.header_menu {
	margin-top: 26px;
	padding-top: 11px;
}

.m_1 {
	height: 29px;
	width: 22px;
}

.m_2 {
	height: 30px;
	width: 28px;
}

.m_3 {
	height: 31px;
	width: 24px;
}

.m_5 {
	height: 31px;
	width: 33px;
}

.m_4 {
	height: 34px;
	width: 34px;
}

.m_6 {
	height: 33px;
	width: 29px;
}

.number1 {
	width: 124px;
}

.number2 {
	width: 174px;
}

.number3 {
	width: 123px;
}

.number4 {
	width: 226px;
}

.number5 {
	width: 185px;
}

.number6 {
	width: 107px;
}

#friend {
	margin-top: 15px;
	margin-bottom: 40px;
	background: url(../img/fon.png) no-repeat top center;
	height: 363px;
	padding-top: 116px;
}

.friend_header {
	margin-left: 118px;
	width: 300px;
}

.friend_header p {
	margin-bottom: 33px;
	color: #FFF;
	line-height: 48px;
	font-size: 36px;
	font-weight: 600;
}

#friend button {
	margin: 0;
}

.view {
	width: 293px;
	height: 295px;
	margin-right: 30px;
}

.view_href {
	line-height: 24px;
	font-size: 14px;
	font-weight: 600;
	padding: 26px 10px 0 22px;
	margin-top: -2px;
	height: 89px;
	color: #FFF;
	background: #214b87;
}

#gallery {
	padding-top: 62px;
	margin-top: 43px;
	background: url(../img/gallry_fon.png) no-repeat top center;
	height: 577px;
}

#gallery h4 {
	color: #FFF;
	text-align: center;
}

.gallery img {
	width: 321px;
	height: 339px;
}

#about h4 {
	text-align: center;
}

#about button {
	margin-top: 38px;
	width: 339px;
	height: 51px;
	background: #ff0000;
	text-align: center;
	color: #FFF;
	font-size: 14px;
	font-weight: 600;
	border-radius: 26px;
	margin-bottom: 74px;
}

footer {
	background: #f0f0f0;
	height: 169px;
	padding-top: 33px;
}

.footer_href {
	width: 242.3px;
}

footer a {
	color: #000;
	font-size: 12px;
	border-bottom: 1px solid #8f8f8f;
}

.footer_href a {
	margin-bottom: 18px;
}

.footer_logo_icon {
	width: 152px;
}

.icon_soc {
	width: 35px;
	height: 35px;
	border-radius: 5px;
	background: #c5c5c5;
	color: #FFF;
	text-align: center;
	margin-right: 4px;
	transition: 0.7s;
}

.icon_soc i {
	margin-top: 9px;
	font-size: 16px;
}

.icon_soc:hover {
	background: #214b87;
	cursor: pointer;
}

.footer_logo img {
	margin-top: 8px;
	margin-right: 7px;
}

.footer_protection, .footer_e-mail {
	margin-top: 8px;
	font-size: 10px;
}

.footer_e-mail span {
	border-bottom: 1px solid #686868;
}

.stock {
	background: url(../img/catalogue.png);
	font-size: 12px;
	color: #FFF;
	padding-top: 14px;
	padding-bottom: 14px;
}

.stock span {
	border-bottom: 1px solid #d9b4ca;
}

.share {
	width: 456px;
	margin-right: 30px;
}

.share a {
	color: #214b87;
	float: right;
	text-decoration: underline;
	cursor: pointer;
}

.share {
	margin-bottom: 40px;
}

#separately img {
	max-width: 100%;
	height: auto;
}

.section_watch {
	margin-top: 25px;
	margin-bottom: 25px;
}

.section_watch p {
	font-size: 12px;
	margin-top: 5px;
	margin-left: 9px;
}

.section_text {
	margin-bottom: 107px;
}

.kontakts {
	height: 48px;
	width: 418px;
	margin-bottom: 15px;
}

.kontakts p {
	margin-left: 12px;
	font-size: 18px;
}

.map {
	width: 29px;
	height: 38px;
}

.email {
	width: 39px;
	height: 25px;
}

.android {
	width: 26px;
	height: 39px;
}

.watchs {
	width: 33px;
	height: 48px;
}

.kontakts_map {
	margin-top: 4px;
}

.kontakts_email {
	margin-top: -2px;
}

.kontakts_android {
	margin-top: 7px;
}

.kontakts_watchs {
	margin-top: 11px;
}

.kontakts_forma {
	border: 1px solid #c1c1c1;
	padding-left: 22px;
	color: #000;
	font-size: 18px;
	height: 54px;
	width: 407px;
}

.kontakts_forma_text {
	margin-top: 14px;
	margin-bottom: 8px;
}

.kontakts_sms {
	border: 1px solid #c1c1c1;
	padding-left: 22px;
	color: #000;
	font-size: 18px;
	line-height: 44px;
	height: 208px;
	width: 402px;
	position: absolute;
	margin-top: 32px;
	right: 0;
	margin-right: 53px;
	z-index: 100;
	top: 0;
}

.kontakts_forma_sms {
	margin-bottom: 8px;
	position: absolute;
	right: 0;
	margin-right: 397px;
	z-index: 100;
	top: 0;
}

.kontakts_forma_btn {
	margin-top: 33px;
	float: right;
	margin-right: 53px;
	width: 148px;
	height: 51px;
	background: #ff0000;
	text-align: center;
	color: #FFF;
	font-size: 14px;
	font-weight: 600;
	border-radius: 26px;
}

._forma_ {
	margin-bottom: 156px;
}

/* прячем input checkbox */
input[type="checkbox"] {
  display: none;
}
 
/* стили для метки */
label {
	color: #000;
	cursor: default;
	font-weight: normal;
	line-height: 30px;
	padding: 10px 0;
	vertical-align: middle;
}
 
/* формируем внешний вид чекбокса в псевдоэлементе before */
label:before {
	content: " ";
	color: #214b87;
	display: inline-block;
	margin-right: 17px; position: relative;
	text-align: center;
	text-indent: 0px;
	width: 34px;
	height: 34px;
	background: #FFF;
	border: 1px solid #c1c1c1;
	border-image: initial; 
	vertical-align: middle;
}
 
/* вариации внешнего вида в зав-ти от статуса checkbox */
/* checked */
input:checked + label:before {
	content: "✔";
	font-size: 30px;
}
/* disabled */
input:disabled + label:before {
	background: #eee;
	color: #aaa;
}

.text_p p {
	width: 490px;
	line-height: 24px;
	margin-left: 23px;
	color: #214b87;
	font-size: 18px;
}

.text_p strong {
	font-size: 14px;
	font-weight: 600;
	color: #000;
	margin-left: 8px;
}

.text_icon {
	width: 32px;
	height: 32px;
}

.text_icon p {
	width: 95px;
	line-height: 18px;
	font-size: 12px;
	text-align: right;
	margin-left: 9px;
}

.group_text_p {
	position: absolute;
	margin-top: 387px;
	margin-left: 314px;
	top: 0;
	width: 610px;
}

.mtop {
	margin-top: 32px;
}

.mtop span {
	margin-right: 14px;
}

.center button {
    margin-top: 38px;
    width: 339px;
    height: 51px;
    background: #ff0000;
    text-align: center;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    border-radius: 26px;
    margin-bottom: 74px;
}

.head_logo {
	width: 44px;
	height: 44px;
	text-align: center;
	border-radius: 5px;
	background: #214b87;
	color: #FFF;
}

.head_logo i {
	margin-top: 12px;
}

.coordinate_sity span {
	border-bottom: 1px solid #8f8f8f;
}

.centter {
	margin: 0 auto;
}